<div class="search-form mt-4">
    <form method="POST" action="">
  <div class="form-group">
    <label for="exampleInputEmail1">Nhập từ khóa</label>
    <input type="text" name="q" class="form-control" id="search-input" placeholder="Tìm kiếm gì đó....">
  </div>
  <button type="submit" class="btn btn-primary">Tìm kiếm</button>
</form>
</div>